

.main{
  z-index: 1;
  width: 100vw;
  height: 100vh;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  /* background: darkblue; */
}

.phonecontactmenu{
  display: none;
}

.contact{
  display: none;
  position: absolute;
  background: rgba(141, 140, 140, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* WebKit compatibility */
  border-radius: 15px; /* Optional rounded corners */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for glass effect */
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 400;
}

@keyframes backgroundGradient {
  0%{
    background-color: rgba(0,0,0,0);
  }
  100%{
    background-color: #C2C2C2;
  }
}

.beam_svg{
  position: absolute;
  transform-origin: center top ;
  top:0;
  left: -50%;
  width: 100%;
  height: 200%;
  filter: blur(25px);
  transform: rotate(-45deg);
  z-index: 1;
  border: 1px solid white;
}

.ballright{
  transform: translate(50%,-50%);
}

.ballcontact{
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 200;
  width: 100vw;
  height: 100vh;
  /* border-radius: 80%; */
  /* background:rgb(252,81,12); */
  background: radial-gradient(circle at 100% 50%,rgba(252, 81, 12, 0.9080225840336135) 24%,rgba(239,77,11,0.3113839285714286) 42.3%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%,-50%);
  /* box-shadow: 0 0 15px 10px rgba(0,0,0,0.1); */
  /* border: transparent */
  /* animation: 10s infinite ease ballbreathing; */
  transform-origin: 0 50%
}

.ballcontact .info{
  font-family: 'Martel',sans-serif;
  font-size: 1.2vw;
  font-weight: bold;
  color: black;
  position: relative;
  left: 80%;
  top: 50%;
  transform: translateY(-50%)
}

.element + .element{
  margin-top: 2rem;
}

.logocontainer{
  display: flex;
}

.logo + .logo{
  margin-left: 1rem;
}

.logo{
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: black;
  /* padding: 2rem; */
  color: white;
}
.ball{
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 200;
  width: 100vw;
  height: 100vh;
  /* border-radius: 80%; */
  /* background:rgb(252,81,12); */
  background: radial-gradient(circle at -10% 50%,rgba(252, 81, 12, 0.9080225840336135) 24%,rgba(239,77,11,0.3113839285714286) 42.3%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%,-50%);
  /* box-shadow: 0 0 15px 10px rgba(0,0,0,0.1); */
  /* border: transparent */
  /* animation: 10s infinite ease ballbreathing; */
  transform-origin: 0 50%
}

@keyframes on {
  0%{
    opacity: 0
  }
  100%{
    opacity: 1
  }
}

.offcontact{
  animation: on 1s reverse;
}
.oncontact{
  animation: on 1s ease;
}

.photo{

  animation: on 1s ease;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 5;
  user-select: none;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 40%;
  height: 40vw;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.title{
  animation: on 1s ease;
  user-select: none;
  cursor: pointer;
  font-family: 'Martel', serif;
  font-weight: bold;
  position: relative;
  width: 100%;
  text-align: center;
  color: rgb(222, 90, 36);
  width: 100%;
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  margin-top: 1rem;
  /* margin-top: 1rem; */
  /* border: 1px solid white */
}

.menu{
  font-family: 'Martel', serif;
  display: flex;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  justify-content: space-between;
  z-index: 10;
}
.projectsMenu{
  z-index: 15;
  user-select: none;
  color: #DE5A24;
  margin-left: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.ContactMenu{
  user-select: none;
  font-size: 1.5rem;
  color: #DE5A24;
  margin-right: 2rem;
  cursor: pointer;
}

.phonemenumain{
  display: none;
}

.menuicon{
  margin-top: 2rem;
  display: none;
  margin-right: 3rem;
  color: #DE5A24;
  cursor: pointer;
}

.shader{
  animation: on 5s ease;
}




.slogan{
  animation: on 1s ease;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  user-select: none;
  font-family: 'Martel', serif;
    text-align: center;
    font-weight: 900;
    margin-top: 1.5rem;
    font-size: 6rem;
    line-height: 11vh;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-80%);
    color: transparent;
    -webkit-text-stroke: #DE5A24 1px;
    z-index: 20;
}


.cvbutton{
  cursor: pointer;
  line-height: 2rem;
  margin-top: 2rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: fit-content;
  position: relative;
  border-radius: 16px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  text-align: center;
  z-index: 25;
  background:rgb(222, 90, 36);
}




@media (max-width: 600px){


  .ball{
    background: radial-gradient(circle at 50% 0,rgba(252, 81, 12, 0.9080225840336135) 16%,rgba(239,77,11,0.3113839285714286) 26.15%, rgba(0, 0, 0, 0) 100%);
}
  .beam_svg{
    display: none;
  }
  .slogan{
    z-index: 10;
    left: 0;
    right: 0;
    transform: none;
    position: static;
    font-family: 'Martel', serif;
    text-align: center;
    font-weight: 900;
    margin-top: 1.5rem;
    font-size: 12vw;
    line-height: 7vh;
    color: transparent;
    -webkit-text-stroke: #DE5A24 1px;
  }
  
  .photo{
    z-index: 10;
    right: 0;
    top: 0;
    transform: none;
    position: relative;
    margin-top: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
    width: calc(100% - 6rem);
    height: calc(100vw - 6rem);
  }

  
  .title{
    font-family: 'Martel', serif;
    font-weight: bold;
    position: relative;
    width: 100%;
    text-align: center;
    color: #DE5A24;
    width: 100%;
    font-size: 7.5vw;
    text-decoration: underline;
    text-underline-offset: 1rem;
    margin-top: 1rem;
    /* margin-top: 1rem; */
    /* border: 1px solid white */
  }

  .menuicon{
    z-index: 25;
    display: block;
    text-align: right;
    font-size: 2rem;
  }

  .phonemenumain{
    display: inline-block;
    transition: 1s ease;
    transform: translate(50%,-100%);
    z-index: 100;
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10rem 3rem;
    background: radial-gradient(circle at 50% -10%,rgba(252, 81, 12, 0.9080225840336135) 24%,rgba(239,77,11,0.3113839285714286) 42.3%, rgba(0, 0, 0, 0) 100%);
    background-color: rgb(246, 178, 152);
  }
  .phonemenumain > .items{
    color: black;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bold;
    font-size: 15vw;
    cursor: pointer;
    margin-top: 0.1rem;
  }

  .logo{
    margin-top: 1rem;
    font-size: 1rem;
  }

  .logocontainer{
    position: relative;
    left: 6px
  }

  .items:nth-child(1){
    margin-top: 3rem;
  }

  .detectionarea{
    cursor: pointer;
    width: 7%;
    height: 20%;
    position: relative;
      top: -20%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    
  }
  .back{
    cursor: pointer;
    width: 100%;
    height: 1.5px;
    background-color: black;
    position: relative;
    /* top: -10%; */
    font-size: 6vw;
  }

  .circle{
    position: relative;
    left: 0;
    /* top: -3px; */
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
  }
  

  .menu{
    display: none;
    border: 1px solid white;
    
  }
  .menumain{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
  }

  .phonecontactmenu{
    display: inline-block;
    transition: 1s ease;
    transform: translate(50%,-100%);
    z-index: 100;
    width: 100vh;
    height: 100vh;
    /* border-radius: 50%; */
    position: absolute;
    top: 0;
    left: 0;
    padding: 10rem 3rem;
    background: radial-gradient(circle at 50% -10%,rgba(252, 81, 12, 0.9080225840336135) 24%,rgba(239,77,11,0.3113839285714286) 42.3%, rgba(0, 0, 0, 0) 100%);
    background-color: rgb(246, 178, 152);
  }

  .element{
    font-family: "Martel", sans-serif;
    font-weight: bold;
  }

  .contactitems{
    display: flex;
    margin-top: 1rem;
  }

  .elementphone{
    position: relative;
    top: -5rem;
  }

  .sayhi{
    position: relative;
    left: -6px;
    font-size: 7rem;
    color: transparent;
    -webkit-text-stroke: #DE5A24 1px;
    font-weight: 900;
    font-family: "Martel", sans-serif;
    line-height: 8rem;
  }

}
